@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@model PizzaShop.Entity.ViewModels.ResetPasswordModel;

<section class="login-form col-md-9 d-flex justify-content-center align-item-center h-full">
    <div class="m-auto col-10 col-md-8">
        <div class="d-flex flex-row justify-content-center align-item-center mb-5 fs-3 mt-5">
            <img src="~/images/pizzashop_logo.png" alt="pizashop-logo" class="img-fliud pizza-logo" />
            <div class="brand-name mt-1"><b>PIZZASHOP</b></div>
        </div>
        <h4>Reset Your Password</h4>
        <form asp-action="ResetPassword" asp-controller="Home" class="mb-5 mt-4">
            <div class="mb-3 d-flex">
                <input asp-for="NewPassword" type="password" class="form-control input-psw" id="InputNewPsw"
                    placeholder="New Password*" />
                <span>
                    <img src="images/eye-close.png" alt="user-icon" class="login-icon mt-1"
                        onclick="togglePassword(InputNewPsw,this)" />
                </span>
                <span>
            </div>
            <div class="mb-3 d-flex">
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="InputNewConfirmPsw"
                    placeholder="Confirm New Password*" />
                <img src="images/eye-close.png" alt="user-icon" class="login-icon mt-1"
                    onclick="togglePassword(InputNewConfirmPsw,this)" />
                </span>
            </div>
            <button type="submit" class="fill-btn border-0 col-12 p-1">
                Submit
            </button>
            <div class="d-flex justify-content-center mt-2 underlin-0">
                <a asp-action="Index"> Back to Login </a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
}
;
