<!-- Add New Modifier Modal -->
<div class="modal fade" id="addModifierModal" tabindex="-1" aria-labelledby="addModifierModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModifierModalLabel">Add New Modifier</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addNewModifierForm">
                    <div class="row">
                        <!-- Modifier Group Selection -->
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="modifierGroup" name="ModifierGroup">
                                    <option selected disabled>-- Select Modifier Group --</option>
                                    <option value="1">Group 1</option>
                                    <option value="2">Group 2</option>
                                </select>
                                <label for="modifierGroup">Select Modifier Group(s)</label>
                            </div>
                        </div>
                        <!-- Name Input -->
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="modifierName" name="Name" required>
                                <label for="modifierName">Name*</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Rate Input -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="modifierRate" name="Rate" value="0"
                                    required>
                                <label for="modifierRate">Rate*</label>
                            </div>
                        </div>
                        <!-- Quantity Input -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="modifierQuantity" name="Quantity"
                                    value="0" required>
                                <label for="modifierQuantity">Quantity*</label>
                            </div>
                        </div>
                        <!-- Unit Selection -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="addModifierUnits" name="Unit">
                                    <option selected disabled>-- Select a unit --</option>
                                    @* <option value="pcs">Pieces</option>
                                    <option value="kg">Kilogram</option>
                                    <option value="ltr">Liter</option> *@
                                </select>
                                <label for="addModifierUnits">Unit*</label>
                            </div>
                        </div>
                    </div>

                    <!-- Description Input -->
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" id="modifierDescription" name="Description"
                                rows="2"></textarea>
                            <label for="modifierDescription">Description</label>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $.getJSON('@Url.Action("GetAllUnits", "Menu")', function (units) {
        $('#addModifierUnits').empty().append('<option selected disabled hidden>Select Unit</option>');

        $.each(units, function (i, unit) {
            $('#addModifierUnits').append($('<option>', {
                value: unit.id,
                text: unit.name
            }));
        });
    });

    $.getJSON('@Url.Action("GetAllModifierGroups", "MenuModifier")', function (ModifierGroups) {
        $('#modifierGroup').empty().append('<option selected disabled hidden>Select ModifierGroup</option>');
        $.each(ModifierGroups, function (i, m) {
            $('#modifierGroup').append($('<option>', {
                value: m.id,
                text: m.name
            }));
        });
    });
</script>