@model PizzaShop.Entity.ViewModels.ItemTabViewModel

<section>
    <div class="row mx-0">
        <aside class="col-md-3" style="background-color: #f5f5f5">
            <!-- Category header -->
            <div class="d-flex flex-wrap justify-content-between align-items-center p-2">
                <h5>Categories</h5>
                <button class="btn btn-outline-primary" id="Addcategory" data-bs-target="#addCategoryModal"
                    data-bs-toggle="modal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <!-- Category list -->
            @Html.Partial("_CategoryList", Model.categoryList)
        </aside>
        <div class="col-md-9 border-start border-primary bg-light">
            <div>
                <!-- Item header -->
                <h5 class="p-2 mb-0 text-primary">Items</h5>
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <div class="form-input-div d-flex justify-content-between me-3 position-relative">
                        <input type="text" placeholder="Search" class="form-control p-2 d-none d-sm-block" name="search"
                            minlength="5" required id="searchItem" />
                        <span class="form-input-icon position-absolute search-icon"><i class="fa-solid fa-search"
                                id="eye-icon" style="color: gray"></i>
                        </span>
                    </div>
                    <button class="btn btn-outline-secondary me-3">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <button class="btn btn-primary me-3">
                        <i class="fa-solid fa-plus"></i>New Item
                    </button>
                </div>

                <!-- Items Table -->
                <section class="table-responsive">
                    <table class="table user-table mb-0 menu-table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault" />
                                    </div>
                                </th>
                                <th scope="col">Name</th>
                                <th scope="col">ItemType</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Available</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider menuItems" id="itemList">
                            @Html.Partial("_ItemListPartial", Model.itemList)
                        </tbody>
                    </table>
                </section>
                <div class="d-flex justify-content-end align-items-center mt-2">
                    <p class="mb-0">Items Per page</p>
                    <select class="ms-3" aria-label="Default select example">
                        <option selected>5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <p class="mb-0 ms-2 me-2">Select 1 out of 5</p>
                    <button class="btn btn-outline-secondary me-1 px-3 py-0">
                        <i class="fa-solid fa-less-than fa-sm" style="height: 15px"></i>
                    </button>
                    <button class="btn btn-outline-secondary px-3 py-0">
                        <i class="fa-solid fa-greater-than fa-sm"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- AddNewCategory Modal -->
<div class="container mt-5">
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-1">
                    <form asp-action="AddNewCategory" asp-controller="Menu" class="p-3" id="addNewCategoryForm">
                        <div class="form-floating mb-3 p-0">
                            <input type="text" class="form-control" id="categoryName" placeholder="Category" />
                            <label for="categoryName">Name</label>
                        </div>

                        <div class="form-floating p-0">
                            <textarea class="form-control" placeholder="Description"
                                id="categoryDescription"></textarea>
                            <label for="categoryDescription">Description</label>
                        </div>

                        <div class="modal-footer d-flex justify-content-end border-0">
                            <button type="submit" class="btn btn-primary" id="submitNewCategory">Save</button>
                            <button type="button" class="btn btn-outline-primary"
                                data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#addNewCategoryForm").submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                var categoryName = $("#categoryName").val();
                var categoryDescription = $("#categoryDescription").val();
                $.ajax({
                    type: "POST",
                    url: '/Menu/AddNewCategory',
                    data: {
                        Name: categoryName,
                        Description: categoryDescription
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#addCategoryModal').modal('hide');
                            console.log(response.message);
                            @* toastr.success(response.message); *@
                                location.reload(); // Reload the page to show the new category
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error("An error occurred while adding the category. Please try again.");
                    }
                });
            });
        });

        $("#itemCategory").click(function () {
            var categoryId = $(this).data("id");
            console.log("id" + categoryId);
            $.ajax({
                url: '/Menu/GetItemsByCategory',
                type: 'GET',
                data: { id: categoryId },
                success: function (response) {
                    $("#itemList").html(response);
                }
            })
        })
                                                                            });
    </script>
}