@{
    ViewData["Title"] = "Role";
}
@model IEnumerable<PizzaShop.Entity.Data.Role>;
<section class="vh-100">
    <div class="col-md-8 bg-light mt-5 p-3">
        <table class="table position-relative">
            <tr class="bg-light">
                <td>Role</td>
                <td class="text-end">Action</td>
            </tr>
            @foreach (var role in Model)
            {
                <tr class="bg-light">
                    <td>@role.Name</td>
                    <td class="text-end">
                        <i class="fa-solid fa-pen" style="cursor: pointer;"
                            onclick="window.location.href = '@Url.Action("Permission", "RolePermission", new { id = role.Id })'"></i>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>