.star-rating {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
}

.star-rating-filled {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffc107;
}

.star-rating-blank {
  display: inline-block;
  color: #ffffff;
  -webkit-text-stroke: 1px #ffc107;
}

.invoice-detail-table > thead > tr > th {
  color: white;
  background-color: #006098;
  font-size: 15px;
}
.invoice-detail-table > tbody > tr > td {
  color: gray;
  font-size: 15px;
}
.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--textBlue);
}
.text-blue {
  color: #006098;
}
