/* _content/PizzaShop.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* shyam */
:root[b-7a5thk4fru] {
  --textBlue: #006098;
}

/* Sidebar */
#sidebar[b-7a5thk4fru] {
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#sidebar ul[b-7a5thk4fru] {
  /* margin-top: 40px; */
  background-color: white;
}

#sidebar ul a[b-7a5thk4fru] {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

#sidebar ul a:hover[b-7a5thk4fru] {
  background-color: rgba(211, 211, 211, 0.384);
  color: var(--textBlue);
}
#sidebar li[b-7a5thk4fru] {
  list-style-type: none;
  /* margin: 10px 0px 10px 0px; */
  height: 43px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  position: relative;
  padding-left: 10%;
  align-items: center;
  font-size: medium;
}
.sidebar-header[b-7a5thk4fru] {
  background-color: white;
  z-index: 2;
}
#sidebar-cancel-btn[b-7a5thk4fru] {
  display: none;
}

#pizzashop_logo[b-7a5thk4fru] {
  width: 60px;
  height: 50px;
}

/* Navbar */
.navbar[b-7a5thk4fru] {
  height: 50px;
  background-color: #006098;
}
#menu-icon[b-7a5thk4fru] {
  display: none;
}

/* #sidebar {
  z-index: 2000;
} */

#alert-icon[b-7a5thk4fru] {
  width: 5px;
  height: 5px;
}

@media (max-width: 768px) {
  .sidebar[b-7a5thk4fru] {
    position: fixed;
    transform: translateX(-100%);
  }

  .sidebar.visible[b-7a5thk4fru] {
    background-color: aqua;
    transform: translateX(0);
  }
}

/* My Dashboard */
.brand-name-nav[b-7a5thk4fru] {
  color: white;
}

.brand-name[b-7a5thk4fru] {
  color: #006098;
}

.close-btn[b-7a5thk4fru] {
  margin-left: 10px;
}

.pizza-logo[b-7a5thk4fru] {
  height: 50px;
  width: 60px;
}

.profile-icon[b-7a5thk4fru] {
  height: 50px;
  width: 50px;
}

.navbar[b-7a5thk4fru] {
  height: 60px;
  background-color: #006098;
}

.sidebar[b-7a5thk4fru] {
  min-height: fit-content;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* z-index: 1500; */
  height: 100vh;
}

.sidebar ul li img[b-7a5thk4fru] {
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.sidebar ul li:hover[b-7a5thk4fru] {
  background-color: #fcffff;
  border-radius: 5px;
  color: black;
}

.sidebar ul li[b-7a5thk4fru] {
  padding: 2px;
}

.sidebar ul a[b-7a5thk4fru] {
  color: black;
}

#toggle-btn[b-7a5thk4fru] {
  height: 30px;
  width: 30px;
}

@media (max-width: 989px) {
  .sidebar[b-7a5thk4fru] {
    position: fixed;
    transform: translateX(-100%);
    min-height: fit-content;
    /* width: 230px; */
    height: 100vh;
  }

  .sidebar.show[b-7a5thk4fru] {
    transform: translateX(0);
    height: 100vh;
    z-index: 5000;
    /* width: 230px; */
  }
}

@media (min-width: 989) {
  .close-btn[b-7a5thk4fru] {
    display: none;
  }
}

@media (max-width: 1024px) {
  .sidebar[b-7a5thk4fru] {
    position: fixed;
    min-height: fit-content;
    width: 230px;
    height: 100vh;
    z-index: 2000;
    /* margin-top: 60px; */
  }

  .sidebar.show[b-7a5thk4fru] {
    height: 100vh;
    width: 230px;
  }

  /* .main-content {
    margin-left: 230px;
    width: 70%;
  } */
}

@media (min-width: 1024px) {
  .sidebar[b-7a5thk4fru] {
    position: fixed;
    min-height: fit-content;
    width: 230px;
    height: 100vh;
    z-index: 2000;
  }

  /* .sidebar.show {
    height: 100vh;
    width: 230px;
  } */

  /* .content {
    margin-left: 230px;
    width: 70%;
  } */
  .close-btn[b-7a5thk4fru] {
    display: none;
  }
}

.offcanvas-lg.offcanvas-start[b-7a5thk4fru] {
  width: 230px;
}

@media (max-width: 992px) {
  .main-content[b-7a5thk4fru] {
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-content[b-7a5thk4fru] {
    margin-left: 270px;
    width: 100%;
  }
}
